<body>
    <header>
        <!--logotipo-->
        <div class="logo_caixa">
           
            <!--Itens iniciais-->
        </div>
    </header>
    <!--Banner-->


    <section class="item">

        <img src="../../assets/Lanche.png" title="diabetes" class="img">

        <p class="txt1">Aproveite de um ambiente totalmente inspirado no querido desenho <b id="bob-esponja"><i>Bob
                    Esponja</i></b>.<br><br><br>Tudo foi feito pensando em você! Desde nosso ambiente até a
            nossos<br>produtos!</p>

    </section>

    <section class="item">

        <p class="txt2">Um ambiente totalmente personalizado para que você tenha uma experiência única no <i>melhor
                restaurante dos sete mares!</i></p>

        <img src="../../assets/Camarão-ao-Alho-e-Óleo.jpg" title="gostoso" class="img2">

    </section>
    <!--Rodapé-->
</body>