<body>
    <header>
        <!--logotipo-->
        <div class="logo_caixa">
            <h1>
                <img src="../../assets/Siri.jpeg"title="SIRI CASCUDO" class="logo">
            </h1>
            <!--Itens iniciais-->
        </div>
    </header>
    <!--Banner-->
    <img class="banner" src="../../assets/Siricasc.png">
    
    <main>
        <section class="map">
            <h3 class="titulo-principal">
                Nosso estabelecimento
            </h3>
            <p class="estab">
                Nosso estabelecimento está localizado no coração da cidade.
            </p>
            <div class="mapa-conteudo">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14619.56959622069!2d-46.5582425!3d-23.6440242!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d2c14858d37a05e!2sEscola%20Senai%20Armando%20de%20Arruda%20Pereira!5e0!3m2!1spt-BR!2sbr!4v1662072416044!5m2!1spt-BR!2sbr" width=100% height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>


        </section>
        
        
        <section class="principal">
            
            <h2 class="titulo-principal">Sobre o Siri Cascudo</h2>
                <img class="Hamburguer" src="../../assets/Hambur.jpg" alt="Hamburguer!">
            <p>Localizada no coração da cidade o <strong>Siri Cascudo </strong>traz para o mercado o melhor hamburguer da região, fundado em 1999, já somos destaque no país.</p>    

            <p>Oferecemos diversos sabores deliciosos. O atendimento possui padrão de excelencia e agilidade, garantindo qualidade e satisfação dos nossos clientes.</p>
        </section>
        <!--Beneficios e video-->
        <section class="beneficios">
            <h4 class="titulo-principal">Beneficios</h4>

            <div class="conteudo-beneficio">
                <ul class="lista-beneficios">
                    <li class="itens">Proporcionar ótimos momentos</li>
                    <li class="itens">Dividir com os amigos ou a família</li>
                    <li class="itens">Ingredientes de qualidade</li>
                    <li class="itens">Profissionais dedicados</li>
                    <li class="itens">Limpeza</li>

                </ul><img class="img_beneficios" src="../../assets/unnamed.jpg">

            </div>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/iHWan8LQM2A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            </div>
        </section>
    </main>
    <!--Rodapé-->

</body>


